.mainTitle {
  margin-top: 60px;
}

.mainActions {
  align-items: flex-end;
}

.buscarCancionForm {
  margin-top: 25px;
}

.buscador {
  height: 34px;
  width: 256px;
  font-size: 16px;
  text-align: left;
}

.buscarBoton {
  height: 34px;
  width: 128px;
  font-size: 16px;
  text-align: center;
}

.results > img {
  border-radius: 50%;
  padding: 5px;
}

.player {
  border-color: black;
  border-radius: 7px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  box-shadow: 2px 2px 8px grey;
  display: block;
  margin: auto;
  margin-top: 25px;
  height: 250px;
  width: 250px;
}

body {
  background-image: url("images/background.jpg");
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 2px 2px 8px grey;
}
